<!DOCTYPE html>
<html>
<head>
  <title>ArtGallery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to "BD", root_path, class: "navbar-brand" %></li>
        <li><%= link_to "Items", items_path %></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
